<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

  {{ghost_head}}
</head>
<body>
  <header>
    <div class="left">&#160;</div>
    <div class="right">&#160;</div>
    <div class="middle">&#160;</div>
    <div class="header_bottom">
      <h1><a href="/" title="Back to Frontpage">{{@blog.title}}</a></h1>
      <span id="subtitle">{{@blog.description}}</span>
    </div>
  </header>

  <section id="main">
    <div id="content">
      {{{ body }}}
    </div>
  </section>

  <footer>
      <section class="copyright">
        All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.
      </section>
      <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
  </footer>

  {{ghost_foot}}

</body>
</html>
